{:paths ["src"]
 :deps {binaryage/devtools {:mvn/version "0.9.10"}
        devcards {:mvn/version "0.2.5"}
        binaryage/chromex {:mvn/version "0.8.0"}
        lilactown/hx {:mvn/version "0.5.2"}
        lilactown/hx-frisk {:mvn/version "0.0.2-SNAPSHOT"}
        ;; lilactown/clinch {:mvn/version "1.0.0"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        datascript {:mvn/version"0.18.2"}}}
