body, .punk-body-container {
    font-family: sans-serif;
}

pre {
    margin: 0;
}

code {
    font-size: 90%;
}

.taplist {
    padding: 8px;
}

.taplist--entry--tools {
    background: #ffffef;
    padding: 2px 12px 2px 8px;
    margin: 0 0 0 3px;
    font-size: 0.6rem;
    border: 1px solid #efefef;
}

.taplist--entry--tools:hover {
    background: #ffefff;
}

.taplist--entry--tools > button {
    padding: 0 5px;
    background: none;
    border: 0;
    margin-right: 5px;
}

.taplist--entry--tools > button:first-child {
    margin-left: -3px;
}

.taplist--entry--tools > button:hover {
    cursor: pointer;
}

.taplist--entry--tools--close-icon:after {
    content: "X";
}

.taplist--entry--tools--inspect-icon:after {
    content: "🔍";
}


.taplist--entry {
    /* border: 1px solid #999999; */
    padding: 0px 0px;
    margin: 3px 0;
}

.taplist--entry--body > div {
    padding: 2px 12px 2px 8px;
    background: #efefef;
    margin: 0 0 0 3px;
}

.taplist--entry-selected {
    margin-top: 0;
}

.taplist--entry--body:hover > div {
    background: #dfdfdf;
    cursor: pointer;
}

.taplist--entry-selected:hover > div {
    background: #efefef;
    cursor: inherit;
}

.taplist--entry--separator {
    border-right: 1px solid #999999;
}

.taplist--entry > div:last-child {
    border-right: 0;
}

.inspector {
    height: 100%;
}

.inspector--code-view {
    padding: 10px;
}

.inspector--coll-view {
    border-top: 1px solid #afafaf;
    display: flex;
    max-height: 100%;
}

.inspector--coll-view--indices {
    width: 80px;
    border-right: 1px solid #afafaf; 
}

.inspector--coll-view--indices > div {
    /* border-bottom: 1px solid #efefef; */
    background: #efefef;
    text-align: right;
    padding: 1px 15px;
    margin: 3px
}

.inspector--coll-view--indices > div:hover {
    background: #dfdfdf;
    cursor: pointer;
}

.inspector--coll-view--indices-selected {
    background: #dfdfdf !important;
}

.inspector--coll-view--body {
    overflow-x: hidden;
}


/* tree view */

.inspector--tree-view {
    height: 100%;
    overflow: scroll;
    padding: 8px;
}

.inspector--tree-node {
    margin: 3px;
}

.inspector--tree-node:first-child {
    margin-top: 0;
}

.inspector--tree-node--item:hover ~ .inspector--tree-node--container, .inspector--tree-node--item:hover {
    background: rgba(180, 250, 140, 0.8);
    /* background: rgba(130, 130, 250, 0.3); */
}

.inspector--tree-node--item {
    background: rgba(200,200,200,0.3);
    /* padding: 3px; */
    /* padding-left: 10px; */

    /* padding-left: 5px; */
    /* padding-right: 8px; */
    /* overflow-x: hidden; */
    display: flex;
}

.inspector--tree-node--label {
    padding-right: 15px;
    /* background: rgba(200,200,200, 0.3); */
}

.inspector--tree-node--label:hover {
    cursor: pointer;
}

.inspector--tree-node--preview {
    padding-left: 10px
}

.inspector--tree-node--preview > code,
.inspector--tree-node--preview > pre,
.inspector--tree-node--item > code,
.inspector--tree-node--item > pre {
    display: inline !important;
}

.inspector--tree-node--arrow {
    display: inline-block;
    margin-right: 10px;
    /* background: rgba(200,200,200, 0.3); */

}

.inspector--tree-node--arrow:hover {
    cursor: pointer;
}

.inspector--tree-node--arrow:after {
    content: "▾";
}

.inspector--tree-node--arrow-collapsed {
    display: inline-block;
    transform: rotate(-90deg);
    margin-right: 10px;
    /* background: rgba(200,200,200, 0.3); */

}

.inspector--tree-node--arrow-collapsed:hover {
    cursor: pointer;
}

.inspector--tree-node--arrow-collapsed:after {
    content: "▾";
}


.inspector--tree-node--container {
    padding-top: 3px;
    padding-left: 12px;
    background: rgba(200, 200, 200, 0.3);
}

.inspector--tree-node--container-collapsed {

}
